<div class="article_informations">
    {%if article.auteur|length>0 %}
        <div class="article_auteur" style="display: inline">
            <span itemprop="author">{{article.auteur.nom}} {{article.auteur.prenom}}</span>
        </div>
    {%endif%}
    <div class="article_date" title="{{article.created|date('c')}}">
        <time datetime="{{ article.created|date('c') }}">Posté le: {{ article.created|date('d/m/Y', "Europe/Paris") }}</time> 
    </div>
    {% if article.viewscount>0 %}
    <div class="article_viewscount">
        Article vu {{article.viewscount}} fois
    </div>
    {%endif%}
</div>