<div class="header">
    <h1>Derniers articles publiés</h1>
</div>

<hr style="clear:both;margin-top: 15px">

<div class="liste_articles" itemscope itemtype="http://schema.org/Blog">
{%if articles is defined%}
    
    {%for article in articles %}    
        <div class="article_snippet" itemscope itemtype="http://schema.org/Article">
            <a href="{{url('article',{'id': article.id})}}" itemprop="url"><h2 class="article_title" itemprop="name">{{article.title}}</h2></a>
            {%include('coBlogBundle:article/Blocks:article_informations.html.twig')%}
        
            <span itemprop="description">
                <p>
                {#{{ article.article|striptags('<h1><h2><h3><h4><h5><h6><p><li><ul><ol>')|slice(0,500)|raw}}(...)#}
                {% if article.introduction %}
                    {{article.introduction}}
                {% else %}
                    Pas de résumé disponible...
                {%endif%}
                </p>
            </span>            
            <br style="clear:both">
            <a href="{{path('article',{'id': article.id})}}">Lire la suite...</a>
        </div>    
    {%endfor%}
     
                
    <div id="blog_nav" style="padding-top: 10px;">
        {%set page=app.request.get('page') %}                   {# Récupération du paramètre "page" passé en paramètre de l'url#}
        {%if page|length==0 %}{%set page=0%}{%endif%}           {# Si on a rien, on estime que page est égal à 0#}
        
        {%if page<nombrePages-1 %}
        <a href="{{path('homepage',{'page':page+1})}}" style="float:left;">Billets précédents</a>
        {%endif%}
        
        {%if page>0 %}
            <a href="{{path('homepage',{'page':page-1})}}" style="float:right;">Billets suivants</a>
        {%endif%}        
    </div>
{%endif%}
</div>
        
