<div class="header">
    <h3 style="color: #FFB300">Derniers articles publiés</h3>
</div>

<hr style="clear:both;margin-top: 15px; margin-bottom: 0px">

<div class="liste_articles" itemscope itemtype="http://schema.org/Blog">
{%if articles is defined%}
    
    {%for article in articles %}    
        <div class="article_snippet" itemscope itemtype="http://schema.org/Article">
            <a href="{{url('article',{'id': article.id})}}" itemprop="url" class="article_link"><h4 class="article_title" itemprop="name">{{article.title}}</h4></a>
            {%include('coBlogBundle:article/Blocks:article_informations.html.twig')%}
        
            {% if article.image %}                
                <div class="blog" style="padding-top:5px">                    
                    <div class="boite_image_header">
                        <a href="{{path('article',{'id': article.id})}}" class="article_link">
                            <img itemprop="image" src="{{ article.image|raw }}" alt="{{article.title}}" title="{{article.title}}" class="header_image"/>
                        </a>
                    </div>
                </div>                
            {% endif %}
            
            <span itemprop="description">
                <p>                
                    {% if article.introduction %}
                        {{article.introduction}}
                    {% else %}
                        Pas de résumé disponible...
                    {%endif%}
                </p>
            </span>            
            <br style="clear:both">
            <a href="{{path('article',{'id': article.id})}}" class="article_link">Lire la suite...</a>
        </div>    
    {%endfor%}
     
                
    <div id="blog_nav" style="padding-top: 10px;">
        {# {%set page=app.request.get('page') %} #}                 {# Récupération du paramètre "page" passé en paramètre de l'url#}
        {%if page|length==0 %}{%set page=0%}{%endif%}           {# Si on a rien, on estime que page est égal à 0#}
        
        {%if page<nombrePages-1 %}
            <a href="{{url('homepage',{'page':page+1})}}" style="float:left;" class="link_blog_nav">Billets précédents</a>
        {%endif%}
        
        {%if page>0 %}
            <a href="{{url('homepage',{'page':page-1})}}" style="float:right;" class="link_blog_nav">Billets suivants</a>
        {%endif%}        
    </div>
{%endif%}
</div>

{# Script de navigation entre les pages de résumés de blogs en ajax#}
{#
<script>    
    var popEventListenerAdded=false;
    
    $(".link_blog_nav").click(function(e){
        var type="articles_list";
        var pageUrl=$(this).attr("href");
        var pageTitle=document.title; 
        var stateObj={type: type};
        window.history.pushState(stateObj,pageTitle,pageUrl);        
        updateContent(pageUrl, type);        
        e.preventDefault();        
    });
    
    $(".article_link").click(function(e){
        var type="article";
        var pageUrl=$(this).attr("href");
        var pageTitle=document.title;
        var stateObj={type: type};
        
        window.history.pushState(stateObj,pageTitle,pageUrl);
        
        updateContent(pageUrl, type);
        
        e.preventDefault();        
    });
    
    {# Evenement déclanché lors de la navigation dans l'historique du navigateur #}
{#
    $(window).bind("popstate", function(e){
        if(!popEventListenerAdded) {
            if (e.originalEvent.state) {
                updateContent(location.href, e.originalEvent.state.type);
            } else {
                updateContent(location.href, 'home');
            }
            popEventListenerAdded=true; //flag indiquant que l'on a traité l'évènement popstate. (évite l'enchainement de tous l'historique)
        }
    });
    
    function updateContent(pageUrl, type)
    {
        $.ajax({
            url: "{{path("updateContentAction")}}",
            data:   {   url:    location.href,
                        type:   type,
                    },
            cache: false,
            success: function (data) {
                        $("#contentwrapper").fadeOut(200,function(){
                                                                $(this).html(data).fadeIn(200);
                                                               });
                        
                    },
            error: function(data) {
                    alert ('Erreur');
                }
        });
    };
    
</script>
#}