<ul id="sdt_menu" class="sdt_menu">
    <li>
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('bundles/comain/css/img/menu/accueil.jpg')}}" alt=""/>                        
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">Accueil</span>
                <span class="sdt_descr">Retour à la case départ !</span>
            </span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="{{ asset('bundles/comain/css/img/menu/logiciels.jpg')}}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">Logiciels</span>
                <span class="sdt_descr">Projets personnels</span>
            </span>
        </a>        
        <div class="sdt_box">
            <a href="{{path('article',{'id':23})}}">Digger Helper</a>
            <a href="{{path('article',{'id':22})}}">Le bon coin coin</a>            
        </div>        
    </li>
    <li>
        <a href="{{path('article',{'id':25})}}">
            <img src="{{ asset('bundles/comain/css/img/menu/book.jpg')}}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">Book</span>
                <span class="sdt_descr">Mes autres réalisations</span>
            </span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="{{ asset('bundles/comain/css/img/menu/cv.jpg')}}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">CV</span>
                <span class="sdt_descr">Curricula Vitae</span>
            </span>
        </a>
        <div class="sdt_box">
            <a href="{{path('cv',{'type':'INFORMATIQUE'})}}">CV Informatique</a>
            <a href="{{path('cv',{'type':'CDL'})}}" style="font-size:80%">CV Conducteur de Ligne</a>            
        </div>
    </li>    
</ul>