<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


        <title>{% block title %}CAILBAUT Olivier - Créateur de Solutions{% endblock %}</title>
        <meta property="og:title" content="{% block opengraph_title %}CAILBAUT Olivier - Créateur de Solutions{% endblock %}">
        <meta itemprop="name" content="{% block microdata_title %}CAILBAUT Olivier - Créateur de Solutions{% endblock %}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/comain/css/stylesheet.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/comain/css/usermenu.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/comain/css/slide_down_box_menu.css') }}" type="text/css" media="all" />
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        <meta property="og:url" content="{{app.request.uri}}">
        <meta property="og:type" content="{% block opengraph_type %}website{% endblock %}">
        <meta property="fb:admins" content="100002583175945">
        <meta property="fb:app_id" content="232953266786752"/>

        {% block header_image %}
            <meta property="og:image" content="http://djepo.craym.eu/images/VignetteSite.jpg">
            <meta itemprop="image" content="http://djepo.craym.eu/images/VignetteSite.jpg" >
        {% endblock %}

        {# Balises de description #}
        {% block header_description %}
            <meta name="description" content="Site personnel de CAILBAUT Olivier. CV, réalisation informatiques en dotNet, PHP et VBA." />
            <meta property="og:description" content="Site personnel de CAILBAUT Olivier. CV, réalisation informatiques en dotNet, PHP et VBA.">
            <meta itemprop="description" content="Site personnel de CAILBAUT Olivier. CV, réalisation informatiques en dotNet, PHP et VBA.">
        {% endblock %}

        <!-- JQuery -->
        <script type="text/javascript" src="{{ asset('bundles/comain/js/jquery/jquery-1.7.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/comain/js/jquery/jquery-ui-1.8.21.custom.min.js') }}"></script>
        <!-- JQuery -->
        
        {% block google_analytics %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-28321544-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
        </script>
        {% endblock %}

    </head>

    <body>

        <div class="header">
            {% block header %}

                <div id="header_gauche">
                    <a href="{{ path('homepage') }}" style="color: white;">CAILBAUT Olivier</a>
                </div>

                <div id="header_droit" style="text-align: center">
                    <h2>Créateur de Solutions</h2>
                </div>

                <!-- Inclusion du bloc permettant la gestion utilisateurs (connexions, déconnexions, gestion ... -->
                {% include 'comainBundle:Blocks:GestionUser.html.twig' %}

            {% endblock %}                
        </div>

        <div id="container_menu" style="z-index: 1000; height:85px">
            {% include 'comainBundle:Blocks:slide_down_box_menu.html.twig' %}
        </div>
        
        
        <div class="wrap">
            <div id="arbre">
                    {% block arbre %}
                        <a href="{{path('homepage')}}">Accueil</a>
                    {%endblock%}
                </div>
            <div class="col1">
                
                {% block body %}
                {% endblock %}

                <div>
                    <!--
                        {% block fbshare%}
                            {# <div class="fb-like" data-href="{{ url(app.request.attributes.get('_route')) }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div> #}
                        {%endblock%}
                    -->
                    {% block commentaires%}
                        {% include 'comainBundle:Blocks:Commentaires.html.twig' %}
                    {%endblock%}
                </div>                
            </div>                
            <div class="col2">
                {# Publicité Google #}
                    {% include 'comainBundle:Blocks:PubliciteGoogle.html.twig' %}
                <!-- Column 3 end -->
            </div>
        </div>
        <div style="clear: both; height: 50px;"></div>
 {#      
        <div class="colmask threecol">
            <div class="colmid">
		<div class="colleft">
                    

                    <div class="col2" style="overflow: visible">
                        <!-- Column 2 start (colonne de gauche) -->
                         {% block gauche %}

                            {# Menu Vertical 
                            {% include 'comainBundle:Blocks:MenuVertical.html.twig' %}

                            {# Réseaux sociaux 
                            {% include 'comainBundle:Blocks:ReseauxSociaux.html.twig' %}

                    {% endblock %}
                        <!-- Column 2 end -->
                    </div>

                    <div class="col3">
                        <!-- Column 3 start (colonne de droite)-->
                        {# Publicité Google 
                        {% include 'comainBundle:Blocks:PubliciteGoogle.html.twig' %}
                        <!-- Column 3 end -->
                    </div>

		</div>
            </div>
        </div>
#}
        {% block javascripts %}
            <!-- Bouton Google -->
            <script type="text/javascript">
                window.___gcfg = {lang: 'fr'};
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
            <!-- Bouton Google -->


             <!-- Script pour le menu slide_down_box_menu -->
        
	<script type="text/javascript" src="{{ asset('bundles/comain/js/jquery/jquery.easing.1.3.js')}}"></script>
        <script type="text/javascript">
            $(function() {
				/**
				* for each menu element, on mouseenter, 
				* we enlarge the image, and show both sdt_active span and 
				* sdt_wrap span. If the element has a sub menu (sdt_box),
				* then we slide it - if the element is the last one in the menu
				* we slide it to the left, otherwise to the right
				*/
                $('#sdt_menu > li').bind('mouseenter',function(){
					var $elem = $(this);
					$elem.find('img')
						 .stop(true)
						 .animate({
							'width':'170px',
							'height':'170px',
							'left':'0px'
						 },400,'easeOutBack')
						 .andSelf()
						 .find('.sdt_wrap')
					     .stop(true)
						 .animate({'top':'140px'},500,'easeOutBack')
						 .andSelf()
						 .find('.sdt_active')
					     .stop(true)
						 .animate({'height':'170px'},300,function(){
						var $sub_menu = $elem.find('.sdt_box');
						if($sub_menu.length){
							var left = '170px';
							if($elem.parent().children().length == $elem.index()+1)
								left = '-170px';
							$sub_menu.show().animate({'left':left},200);
						}	
					});
				}).bind('mouseleave',function(){
					var $elem = $(this);
					var $sub_menu = $elem.find('.sdt_box');
					if($sub_menu.length)
						$sub_menu.hide().css('left','0px');
					
					$elem.find('.sdt_active')
						 .stop(true)
						 .animate({'height':'0px'},300)
						 .andSelf().find('img')
						 .stop(true)
						 .animate({
							'width':'0px',
							'height':'0px',
							'left':'85px'},400)
						 .andSelf()
						 .find('.sdt_wrap')
						 .stop(true)
						 .animate({'top':'25px'},500);
				});
            });
        </script>
            
            
        {% endblock %}

    </body>

    <div id="footer" style="z-index:1000">
        {%block footer%}
            <p>
                <a href="{{ path('fos_user_security_login') }}"><img width="16" height="16" src="{{ asset('bundles/comain/images/themes/base/cadenas-32.png') }}"></img></a>
                &copy; 2012 - CAILBAUT Olivier - Téléphone: 06.19.84.05.02. - SIRET:532 356 805 000 12

                <span style="float:right">
                    <a href="{{ path('contact') }}">Formulaire de contact</a> - 
                    <a href="{{path('articles')}}">Liste des articles</a></li>
                </span>
            </p>
            {#
            <ul>
                <li>
                    Le site
                    <ul>
                        <li>Plan</li>
                        <li><a href="{{path('articles')}}">Articles</a></li>
                    </ul>
                </li>
                <li>
                    Contact
                    <ul>
                        <li><a href="{{ path('contact') }}">Formulaire de contact</a></li>
                        <li><a href="http://www.facebook.com/pages/CAILBAUT-Olivier-Cr%C3%A9ateur-de-Solutions/365054276854994" target="_blank">Facebook</a></li>
                        <li><a href="mailto: contact@djepo.craym.eu">EMail</a></li>
                    </ul>
                </li>
            </ul>
            #}
        {%endblock%}
    </div>

</html>
