{% extends 'comainBundle::layout.html.twig' %}   {# Héritage du layout principal (app/ressources/views/base.html.twig) #}

{%block arbre%}
<a href="{{path('homepage')}}">Accueil</a>
 > <a href="{{path('contact')}}">Contact</a>
{%endblock%}

{% block body %}
    <header>
        <h1>Contactez moi</h1>
    </header> 
 
    {# Définition de l'information de réussite d'envoi du formulaire (Envoyé par le controleur) #}
    {% if app.session.hasFlash('notification') %}
        <div class="notification">
            {{ app.session.flash('notification') }}
        </div>
    {% endif %}
    {# Fin de définition de l'information de réussite d'envoi du formulaire #}
 
    <p>Vous voulez me contacter ?</p>
    
    <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }} {#Gestion des erreurs de saisie#}
        {{ form_label(form.name, "Nom, prénom") }}
        {{ form_widget(form.name) }}
        {{ form_label(form.email, "Adresse Mail") }}
        {{ form_widget(form.email) }}
        {{ form_label(form.subject, "Sujet de votre message") }}
        {{ form_widget(form.subject) }}
        {{ form_label(form.body, "Votre message") }}
        {{ form_widget(form.body) }}

        {{ form_rest(form) }}   {#Affichage des éventuels champs oubliés#}
        <p align="center">
        <input type="submit" value="Envoyer" />
    </form>
    
{% endblock %}
    
{%block commentaires%}{%endblock%} {#Pas de commentaire facebook sur cette page#}