{% extends 'comainBundle::layout.html.twig' %}   {# Héritage du layout principal (app/ressources/views/base.html.twig) #}

{%block arbre%}
<a href="{{path('homepage')}}">Accueil</a>
 > <a href="{{path('contact')}}">Contact</a>
{%endblock%}

{% block body %}
    <header>
        <h1>Contactez moi</h1>
    </header> 
 
    {# Définition de l'information de réussite d'envoi du formulaire (Envoyé par le controleur) #}
    {% if app.session.hasFlash('blogger-notice') %}
        <div class="blogger-notice">
            {{ app.session.flash('blogger-notice') }}
        </div>
    {% endif %}
    {# Fin de définition de l'information de réussite d'envoi du formulaire #}
 
    <p>Vous voulez me contacter ?</p>
    
    <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }} {#Gestion des erreurs de saisie#}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}   {#Affichage des éventuels champs oubliés#}

        <input type="submit" value="Submit" />
    </form>
    
{% endblock %}
    
{%block commentaires%}{%endblock%} {#Pas de commentaire facebook sur cette page#}