{% extends 'comainBundle::layout.html.twig' %}   {# Héritage du layout principal (app/ressources/views/base.html.twig) #}

{% block stylesheets %}
    {{ parent() }}  {# Héritage des feuilles de styles parentes #}
    <link rel="stylesheet" href="{{ asset('bundles/comain/css/cv.css') }}" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
{%endblock%}

{% block title %}CAILBAUT Olivier - Curriculum Vitae{% endblock %}
{% block opengraph_title %}CAILBAUT Olivier - Curriculum Vitae{% endblock %}      
{% block microdata_title %}CAILBAUT Olivier - Curriculum Vitae{% endblock %}

{% block opengraph_type %}article{% endblock %}

{% block header_image %}
    <meta property="og:image" content="http://djepo.craym.eu/images/cv.png">
    <meta itemprop="image" content="http://djepo.craym.eu/images/cv.png" >        
{% endblock %}
    
{% block header_description %}
    <meta name="description" content="Curriculum Vitae d'Olivier CAILBAUT." />
    <meta property="og:description" content="Curriculum Vitae d'Olivier CAILBAUT.">
    <meta itemprop="description" content="Curriculum Vitae d'Olivier CAILBAUT.">
{% endblock %}

{% block header %}
    {% if printable==false %}    
        {{parent()}}    
    {%endif%}
{% endblock %}
    
{% block menu %}
    {% if printable==false %}    
        {{parent()}}    
    {%endif%}
{% endblock %}
    
{%block arbre %}
    {% if printable==false %}
        <div class="arbre col_12" itemprop="breadcrumb">
            <a href="{{path('homepage')}}">Accueil</a>
            > <a href="{{path('cv')}}">CV</a>
        </div>
    {%endif%}
{%endblock %}
 
{%block débutContainerBody%}
    {% if printable==false %}
         {{parent()}}
    {%endif%}
{%endblock%}

{% block body %}    {# Surcharge du bloc body de notre layout principal #}

    {% if printable==false %}
         <div class="center">
             <ul class="button-bar">
                {#<li><a id="btnImprim" class="tooltip" title="Version Imprimable" style="color: #000000" href="{{path('cv',{'printable': 'true'})}}" target="_blank"><i class="icon-print icon-large"></i></a></li>#}
                     <li><a id="btnImprim" class="tooltip" title="Version Imprimable" style="color: #000000" href="#"><i class="icon-print icon"></i>Imprimer le CV</a></li>
                {#<li><a class="tooltip" title="Version PDF" style="color: #000000" href="{{path('cv',{'printable': 'true'})}}"><i class="icon-print icon-large"></i></a></li>#}
             </ul>
        </div>
    {%endif%}
 
    <div id="cv" {% if printable==false %} class="instaFade" {% endif %} {% if printable==true %} style="margin: 0" {%endif%}>
	<div class="mainDetails">
		<div id="headshot" {% if printable==false %} class="quickFade" {% endif %}>
			<img src="{{ asset('bundles/comain/images/headshot.jpg') }}" alt="CAILBAUT Olivier" />
		</div>
		
		<div id="name">
			<h1 {% if printable==false %} class="quickFade delayTwo" {% endif %}>CAILBAUT Olivier</h1>
			<h2 {% if printable==false %} class="quickFade delayThree" {% endif %}>{%if type=="INFORMATIQUE"%}Analyste Programmeur{%else%}Conducteur de Lignes Automatisées{%endif%}</h2>
		</div>
		
		<div id="contactDetails" {% if printable==false %} class="quickFade delayFour" {% endif %}>
			<ul>
				<li><i class="icon-envelope" style="font-family: FontAwesome"></i> <a href="mailto:cailbaut.olivier@live.fr" target="_blank">cailbaut.olivier@live.fr</a></li>                                
				<li><i class="icon-globe icon-large" style="font-family: FontAwesome"></i> <a href="http://djepo.craym.eu/">http://djepo.craym.eu/</a></li>                                
				<li><i class="icon-mobile-phone icon-large" style="font-family: FontAwesome"></i> 06.19.84.05.02.</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" {% if printable==false %} class="quickFade delayFive" {% endif %}>
            {%if type=="INFORMATIQUE"%}
                {% include 'comainBundle:Page:cvInformatique.html.twig' %}
            {%else%}
                {% include 'comainBundle:Page:cvCDL.html.twig' %}
            {%endif%}
	</div>
    </div>
    
    {#Si on a la bouton imprimer, on change le lien cliquable via jquery en demandant d'ouvrir une popp de la version imprimable du cv#}
    {% if printable==false %}
        <script>
         $(document).ready(function(){
            $(btnImprim).click(function(){
                window.open('{{path('cv',{'printable': 'true'})}}', 'PRINTABLE_CV', 'scrollbars=yes,status=yes,width=830,height='+screen.height);              
            });
         });
        </script>
    {%endif%}
    
    {# si on a ouvert la version imprimable du cv, on lance la demande d'impression directement #}
    {% if printable==true %}
        <script>
         $(document).ready(function(){
            window.print();
         });
        </script>
    {%endif%}
{% endblock %}

{%block finContainerBody%}
    {% if printable==false %}
         {{parent()}}
    {%endif%}
{%endblock%}

{% block footer %}
    {% if printable==false %}    
        {{parent()}}    
    {%endif%}
{% endblock %}