{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'comainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  {# Héritage des feuilles de styles parentes #}
<link href="{{ asset('bundles/comain/css/articles.css') }}" type="text/css" rel="stylesheet" /> {# Ajout de la nouvelle feuille de style pour les formulaires #}
{% endblock %}

{%block arbre %}
<a href="{{path('homepage')}}">Accueil</a>
 {#> <a href="{{path('article',{'id': article.id})}}">Articles</a>#}
 > <a href="{{path('articles')}}">Articles</a>
 > <a href="{{path('article_ajout')}}">Ajout d'un Article</a>
{%endblock%}

{% block body %}

{#
<script type="text/javascript" src="{{ asset('bundles/comain/js/tiny_mce/tiny_mce.js') }}"></script>
<script type="text/javascript">
!--
tinyMCE.init({
mode : "textareas",
valid_elements : "em/i,strike,u,strong/b,div[align],br,#p[align],-ol[type|compact],-ul[type|compact],-li"
});
//-->
</script>
#}

    <header>
        <h1>Ajout d'un article</h1>
    </header>
        
    {# Définition de l'information de réussite d'envoi du formulaire (Envoyé par le controleur) #}
    {% if app.session.hasFlash('notification') %}
        <div class="notification">
            {{ app.session.flash('notification') }}
        </div>
    {% endif %}
    {# Fin de définition de l'information de réussite d'envoi du formulaire #}
        
        <form action="{{ url('article_ajout') }}" method="post" {{ form_enctype(form) }}>
            <div>                
                {{ form_label(form.title, "Titre de l'article") }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div>
                {{ form_label(form.article, "Contenu de l'article") }}
                {{ form_errors(form.article) }}
                {{ form_widget(form.article) }}
            </div>
            <br>
            <input type="submit" />
        </form>               
{% endblock %}

{% block commentaires %}{%endblock%}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}   
    {# Intégration de TinyBrowser, afin d'uploader directement les fichiers dans tinymce #}
    <script type="text/javascript" src="{{asset('bundles/stfalcontinymce/vendor/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php')}}"></script>
{% endblock %}

