{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'comainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  {# Héritage des feuilles de styles parentes #}
    <link href="{{ asset('bundles/comain/css/articles.css') }}" type="text/css" rel="stylesheet" /> {# Ajout de la nouvelle feuille de style pour les formulaires #}
{% endblock %}
    
{%block arbre %}
<a href="{{path('homepage')}}">Accueil</a> 
 > <a href="{{path('articles')}}">Articles</a>
 > <a href="{{ app.request.uri}}">Edition d'un Article</a>
{%endblock%}

{% block body %}
    <header>
        <h1>Edition d'un article</h1>
    </header>
    
    {# Définition de l'information de réussite d'envoi du formulaire (Envoyé par le controleur) #}
    {% if app.session.hasFlash('notification') %}
        <div class="notification">
            {{ app.session.flash('notification') }}
        </div>
    {% endif %}
    {# Fin de définition de l'information de réussite d'envoi du formulaire #}
    
        <form action="{{ app.request.uri }}" method="post" {{ form_enctype(form) }}>
            <div>                
                {{ form_label(form.title, "Titre de l'article") }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div>
                {{ form_label(form.article, "Contenu de l'article") }}
                {{ form_errors(form.article) }}
                {{ form_widget(form.article) }}
            </div>
            <br>
            <input type="submit" value="Modifier"/>
        </form> 
{% endblock %}

{% block commentaires %}{%endblock%}
    
    {% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}