{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'comainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  {# Héritage des feuilles de styles parentes #}    
    <link href="{{ asset('bundles/comain/js/jquery/css/ui-lightness/jquery-ui-1.8.17.custom.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block opengraph_type %}article{% endblock %}

{% block header_image %}
    {% if not article.image is null %}
        <meta property="og:image" content="{{url('homepage')}}{{ article.image|raw }}">
        <meta itemprop="image" content="{{url('homepage')}}{{ article.image|raw }}" >
    {% endif %}
{% endblock %}


{# Balises de description #}
{% block header_description %}        
    <meta name="description" content="{{article.introduction}}" />
    <meta property="og:description" content="{{article.introduction}}">    
{% endblock %}

{%block arbre %}    
    <a href="{{path('homepage')}}">Accueil</a>
    > <a href="{{path('articles')}}">Articles</a>
    > <a href="{{path('article',{'id': article.id})}}">{{article.title}}</a>
{%endblock%}

{% block title %}{{ article.title }} | Olivier CAILBAUT{% endblock %}
{% block opengraph_title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="col_9">
        <div class="blog" itemscope itemtype="http://schema.org/Article">
            <header>
                <h1 id="articleTitle" class="article_title editable" itemprop="name">{{ article.title }}</h1>

                {%include('coBlogBundle:article/Blocks:article_informations.html.twig')%}

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="article_actions">
                        <a href="{{path('article_edition',{'id':article.id})}}">éditer</a>
                        <a id="lien_supression_article" href="{{path('article_supression',{'id':article.id})}}"> - supprimer</a>
                    </div>
                {%endif%}

                {% if article.image %}
                    <div class="boite_image_header">
                        <img itemprop="image" src="{{ article.image|raw }}" alt="{{article.title}}" title="{{article.title}}" class="header_image"/>
                    </div>
                {% endif %}

            </header>  <!-- Fin balise header -->

            {% if article.introduction %}
                <article id="articleBody" itemprop="articleBody" class="articleIntroduction">
                    {{article.introduction|raw}}
                </article>
            {%endif%}

            <article id="articleBody" itemprop="articleBody">
                {{ article.article|raw }}
            </article>

            <footer>                
                <!-- Bouton Facebook -->
                <div style="height: 25px;">                    
                    <iframe src="http://www.facebook.com/plugins/like.php?href={{url('article',{'id': article.id})}}&send=false&layout=button_count&width=129&show_faces=false&action=like&colorscheme=light&font&height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:129px; height:21px;" allowTransparency="true"></iframe>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="CAILBAUTOlivier" data-lang="fr">Tweeter</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    <!--<g:plusone size="medium" annotation="inline" width="250px"></g:plusone>-->
                    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="129"></div>                    
                                        
                    <hr>
                </div>
                
                
                
                <div>
                    {% block commentaires%}
                        {% include 'comainBundle:Blocks:Commentaires.html.twig' %}
                    {%endblock%}
                </div>
            </footer>  <!-- Fin balise footer -->

        </div>  <!-- Fin balise blog -->
    </div>
    
    <div class="col_3">
        {# Publicités Google #}
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/pages/CAILBAUT-Olivier-Créateur-de-Solutions/365054276854994&amp;width=220&amp;height=600&amp;colorscheme=dark&amp;show_faces=true&amp;border_color=%23161616&amp;stream=false&amp;header=false&amp;appId=460355224016867" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:600px;" allowTransparency="true"></iframe>
        {% include 'comainBundle:Blocks:PubliciteGoogle.html.twig' %}        
    </div>

    {# Gestion de la confirmation de la supression d'un article #}
    <script>
        $(document).ready(function(){
            var $dialogSuppr= $('<div></div>').html('Voulez-vous vraiment supprimer cet article ?')
                                            .dialog({   'autoOpen': false,
                                                        'title':    'Attention requise',
                                                        'modal':    true,
                                                        'buttons':  {   'Non': function () {$dialogSuppr.dialog("close"); },
                                                                        'Oui': function () { $(location).attr('href','{{url('article_supression',{'id':article.id})}}');},
                                                        },
                                                    });

            $('#lien_supression_article').click(function(){
                $dialogSuppr.dialog('open');
                return false;
            });
</script>

{% endblock %}