{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'comainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  {# Héritage des feuilles de styles parentes #}
    <link href="{{ asset('bundles/comain/css/articles.css') }}" type="text/css" rel="stylesheet" /> {# Ajout de la nouvelle feuille de style pour les formulaires #}
{% endblock %}
    
{# Balises de description #}
{% block header_description %}
    <meta name="description" content="{{ article.article(151)|escape }}" />
    <meta property="og:description" content="{{ article.article(151)|escape }}">
    <meta itemprop="description" content="{{ article.article(151)|escape}}">
{% endblock %}
            

{%block arbre %}
<a href="{{path('homepage')}}">Accueil</a>
 {#> <a href="{{path('article',{'id': article.id})}}">Articles</a>#}
 > <a href="{{path('articles')}}">Articles</a>
 > <a href="{{path('article',{'id': article.id})}}">{{article.title}}</a>
{%endblock%}

{% block title %}{{ article.title }} | CAILBAUT Olivier{% endblock %}
{% block title2 %}{{ article.title }} | CAILBAUT Olivier{% endblock %}
{% block title3 %}{{ article.title }} | CAILBAUT Olivier{% endblock %}

{% block body %}

    <div class="blog">
        <header>
            <h1>{{ article.title }}</h1>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {# {% if is_granted('ROLE_ADMIN') %} #}
                    <a href="{{path('article_edition',{'id':article.id})}}">éditer</a>
                    <a href="{{path('article_supression',{'id':article.id})}}"> - supprimer</a>
                {# {%endif%} #}
            {%endif%}
                    
            <p>Par {{article.author}}</p>
            
            <img src="{{ asset(['images/', article.image]|join) }}" alt="" class="large" />
            
        </header>  <!-- Fin balise header -->

        <div>
            <p>{{ article.article|raw }}</p>
        </div>

        <div class="footer">
            <div class="date"><time datetime="{{ article.created|date('c') }}">Posté le: {{ article.created|date('d/m/Y', "Europe/Paris") }}</time></div>

            <!-- Lockerz Share BEGIN -->            
                <a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_120_16.gif" width="120" height="16" border="0" alt="Share"/></a>
                <script type="text/javascript">
                    var a2a_config = a2a_config || {};
                    a2a_config.locale = "fr";
                </script>
                <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>            
            <!-- Lockerz Share END -->

        </div>  <!-- Fin balise footer -->

    </div>  <!-- Fin balise blog -->
{% endblock %}